@use "variables" as *;

.aside {
    width: 25rem;
    height: 100vh;

    @include flex($fd: column);

    background: linear-gradient(to bottom, #1e3a5f, #152a45);

    position: fixed;
    top: 0;
    left: 0;

    &__header {
        padding: 2rem 1.5rem;

        @include flex($ai: center, $g: 1rem);

        border-bottom: .1rem solid rgba(255, 255, 255, .1);
    }

    &__title-wrapper {
        @include flex($fd: column, $g: .3rem);
    }

    &__title {
        color: $color-white;

        font-size: $fs-xl;
        font-weight: 700;
    }

    &__subtitle {
        color: $color-text-secondary;

        font-size: $fs-sm;
        font-weight: 400;
    }

    &__actions {
        margin-top: auto;
        padding: 2rem 1.5rem;

        @include flex($fd: column, $g: 1rem);

        border-top: .1rem solid rgba(255, 255, 255, .1);
    }
}
