@use "variables" as *;

.badge {
    width: fit-content;

    padding: .3rem .8rem;

    -webkit-border-radius: 9999px;
    -moz-border-radius: 9999px;
    border-radius: 9999px;

    font-size: $fs-sm;
    font-weight: 500;

    &--owner {
        color: $purple-700;
        background-color: $purple-100;

        border: .1rem solid $purple-200;
    }

    &--admin {
        color: $blue-700;
        background-color: $blue-100;

        border: .1rem solid $blue-200;
    }

    &--employee {
        color: $gray-800;
        background-color: #f3f4f6;

        border: .1rem solid $gray-200;
    }

    &--pending {
        color: $orange-700;
        background-color: $orange-100;

        font-weight: 400;
    }
}
