@use "variables" as *;

.btn {
    width: fit-content;

    padding: .7em 1em;

    @include flex($jc: center, $ai: center, $g: .8rem);

    background: none;

    outline: none;
    border: none;
    -webkit-border-radius: $rounded-sm;
    -moz-border-radius: $rounded-sm;
    border-radius: $rounded-sm;

    font-size: $fs-md;
    font-weight: 500;

    cursor: pointer;
    transition: background-color $transition-md ease, transform $transition-sm;

    &:active {
        transform: scale(.98);
    }

    &__icon {
        width: 1.6rem;
        height: 1.6rem;
    }

    &--sm {
        padding: .5em .8em;
    }

    &--primary {
        color: $white;
        background-color: $primary-600;

        &:hover {
            background-color: #1d4fd8;
        }
    }

    &--outline-primary {
        border: .1rem solid #e1e7ef;

        box-shadow: $shadow-sm;

        &:hover {
            color: $white;
            background-color: $primary-700;
        }
    }

    &--success {
        color: $white;
        background-color: $green-600;

        &:hover {
            background-color: $green-700;
        }
    }

    &--outline-danger {
        color: $red-600;
        background-color: $white;

        border: .1rem solid $red-300;

        &:hover {
            background-color: $red-50;
        }
    }

    &--outline-disabled {
        color: #4b5563;
        background-color: $white;

        border: .1rem solid $gray-300;

        &:hover {
            background-color: $gray-350;
        }
    }
}
