@use "variables" as *;

.card {
    &__title {
        font-size: $fs-lg;
        font-weight: 500;
    }

    &__updated-at {
        color: $color-table-th;

        font-size: $fs-sm;
        font-weight: 400;

        &--light {
            color: #9ca3af;
        }
    }
}
