@use "variables" as *;

.card {
    &__code {
        color: $color-table-th;

        font-size: $fs-sm;
        font-weight: 400;
    }

    &__description {
        color: $color-disabled;

        font-size: $fs-md;
        font-weight: 400;
    }
}
