@use "variables" as *;

.card {
    padding: 1.5rem;

    @include flex($fd: column, $g: 1.5rem);

    background-color: $white;

    border: .1rem solid $gray-200;
    -webkit-border-radius: $rounded-lg;
    -moz-border-radius: $rounded-lg;
    border-radius: $rounded-lg;

    transition: box-shadow $transition-sm ease;

    &:not(&--no-shadow):hover {
        box-shadow: $shadow-lg;
    }

    &__header {
        @include flex($ai: center, $g: 1.5rem);
    }

    &__body {
        height: 100%;

        @include flex($jc: flex-end, $fd: column, $g: 1rem);

        &--row {
            justify-content: flex-start;
            flex-direction: row;
        }
    }

    &__img-wrapper {
        width: 4rem;
        height: 4rem;

        @include flex(center, center);

        background-color: $primary-50;

        -webkit-border-radius: $rounded-md;
        -moz-border-radius: $rounded-md;
        border-radius: $rounded-md;

        &--purple {
            background-color: $purple-50;
        }
    }

    &__img {
        width: 2rem;
        height: 2rem;

        &--models {
            color: $primary-600;
        }

        &--types {
            color: $purple-600;
        }
    }

    &__content {
        @include flex($fd: column, $g: .5rem);
    }

    &__actions {
        @include flex($g: .5rem);
    }

    &__empty {
        margin-top: 2rem;

        @include flex($ai: center, $fd: column, $g: 1rem);
    }

    &__empty-icon {
        width: 4.8rem;
        height: 4.8rem;

        color: $gray-300;
    }

    &__empty-text {
        color: $gray-500;

        font-size: $fs-lg;
    }

    &__title {
        font-size: $fs-lg;
        font-weight: 500;
    }

    &__updated-at {
        color: $gray-500;

        font-size: $fs-sm;
        font-weight: 400;

        &--light {
            color: $gray-400;
        }
    }

    &__code {
        color: $gray-500;

        font-size: $fs-sm;
        font-weight: 400;
    }

    &__description {
        color: #4b5563;

        font-size: $fs-md;
        font-weight: 400;

        word-wrap: break-word;
    }

    &__sender, &__receiver, &__created-at, &__resolved-at {
        color: #4b5563;

        font-size: $fs-md;
        font-weight: 400;

        span {
            color: $gray-400;

            font-size: inherit;
            font-weight: inherit;
        }
    }

    &__transfer-comment {
        padding: .5em .7em;

        color: #4b5563;
        background-color: $gray-50;

        -webkit-border-radius: .4rem;
        -moz-border-radius: .4rem;
        border-radius: .4rem;

        font-size: $fs-md;
        font-weight: 400;
    }
}
