@use "variables" as *;

.card {
    padding: 1.5rem;

    @include flex($fd: column, $g: 1.5rem);

    background-color: $color-white;

    border: .1rem solid $color-gray3;
    -webkit-border-radius: $rounded-lg;
    -moz-border-radius: $rounded-lg;
    border-radius: $rounded-lg;

    transition: box-shadow $transition-sm ease;

    &:not(&--no-shadow):hover {
        box-shadow: $shadow-lg;
    }

    &__header {
        @include flex($ai: center, $g: 1.5rem);
    }

    &__body {
        @include flex($fd: column, $g: 1rem);

        &--row {
            flex-direction: row;
        }
    }

    &__img-wrapper {
        width: 4rem;
        height: 4rem;

        @include flex(center, center);

        background-color: #f0fdfa;

        -webkit-border-radius: $rounded-md;
        -moz-border-radius: $rounded-md;
        border-radius: $rounded-md;

        &--purple {
            background-color: #eef2ff;
        }
    }

    &__img {
        width: 2rem;
        height: 2rem;
    }

    &__content {
        @include flex($fd: column, $g: .5rem);
    }

    &__actions {
        @include flex($g: .5rem);
    }

    &__empty {
        margin-top: 2rem;

        @include flex($ai: center, $fd: column, $g: 1rem);
    }

    &__empty-icon {
        width: 4.8rem;
        height: 4.8rem;
    }

    &__empty-text {
        color: $color-table-th;

        font-size: $fs-lg;
    }

    &__title {
        font-size: $fs-lg;
        font-weight: 500;
    }

    &__updated-at {
        color: $color-table-th;

        font-size: $fs-sm;
        font-weight: 400;

        &--light {
            color: #9ca3af;
        }
    }

    &__code {
        color: $color-table-th;

        font-size: $fs-sm;
        font-weight: 400;
    }

    &__description {
        color: $color-disabled;

        font-size: $fs-md;
        font-weight: 400;
    }

    &__sender, &__receiver, &__created-at, &__resolved-at {
        color: $color-disabled;

        font-size: $fs-md;
        font-weight: 400;

        span {
            color: #9ca3af;

            font-size: inherit;
            font-weight: inherit;
        }
    }

    &__transfer-comment {
        padding: .5em .7em;

        color: $color-disabled;
        background-color: $color-bg;

        -webkit-border-radius: .4rem;
        -moz-border-radius: .4rem;
        border-radius: .4rem;

        font-size: $fs-md;
        font-weight: 400;
    }
}
