@use "variables" as *;

.card {
    &__sender, &__receiver, &__created-at, &__resolved-at {
        color: $color-disabled;

        font-size: $fs-md;
        font-weight: 400;

        span {
            color: #9ca3af;

            font-size: inherit;
            font-weight: inherit;
        }
    }

    &__transfer-comment {
        padding: .5em .7em;

        color: $color-disabled;
        background-color: $color-bg;

        -webkit-border-radius: .4rem;
        -moz-border-radius: .4rem;
        border-radius: .4rem;

        font-size: $fs-md;
        font-weight: 400;
    }
}
