@use "variables" as *;

.input-wrapper {
    @include flex($fd: column, $g: .5rem);

    position: relative;

    &--search {
        &::after {
            width: 1.6rem;
            height: 1.6rem;

            background: url("/icons/search.svg") no-repeat center / contain;

            content: '';
            transform: translateY(-50%);

            position: absolute;
            top: 50%;
            left: 1rem;
        }

        input {
            padding-left: 2.5em;
        }
    }
}

label {
    font-size: $fs-md;
    font-weight: 500;
}

input, textarea, select, option {
    padding: .6em .8em;

    background: transparent;

    outline: none;
    border: .1rem solid $color-border;
    -webkit-border-radius: $rounded-sm;
    -moz-border-radius: $rounded-sm;
    border-radius: $rounded-sm;

    font-size: $fs-md;

    box-shadow: $shadow-sm;
    transition: border-color $transition-md ease;

    &:focus {
        border-color: $color-border-secondary;
    }

    &.invalid {
        border-color: $color-red;
    }
}

textarea {
    resize: vertical;
}
