@use "variables" as *;

.input-wrapper-row {
    @include flex($g: 1rem);

    .input-wrapper {
        min-width: 0;

        flex: 1;
    }
}

.input-wrapper {
    @include flex($fd: column, $g: .8rem);

    position: relative;

    &--search {
        &::after {
            width: 1.6rem;
            height: 1.6rem;

            background-color: #9ca3af;
            mask: url("/icons/lens.svg") no-repeat center / contain;

            content: '';
            transform: translateY(-50%);

            position: absolute;
            top: 50%;
            left: 1rem;
        }

        input {
            padding-left: 2.5em;
        }
    }

    &--equipment {
        padding: 1.5rem;

        background-color: $color-bg;

        -webkit-border-radius: $rounded-md;
        -moz-border-radius: $rounded-md;
        border-radius: $rounded-md;

        label {
            color: $color-table-th;
        }

        div {
            font-size: $fs-lg;
            font-weight: 500;
        }
    }

    &__password {
        color: #9ca3af;

        font-size: $fs-md;
        font-weight: 500;
    }
}

label {
    @include flex($ai: center, $g: .5rem);

    font-size: $fs-md;
    font-weight: 500;

    .required {
        color: $color-red;

        font-size: inherit;
        font-weight: inherit;
    }
}

input, textarea, select, option {
    padding: .6em .8em;

    background: transparent;

    outline: none;
    border: .1rem solid $color-border;
    -webkit-border-radius: $rounded-sm;
    -moz-border-radius: $rounded-sm;
    border-radius: $rounded-sm;

    font-size: $fs-md;

    box-shadow: $shadow-sm;
    transition: border-color $transition-md ease;

    &:focus {
        border-color: $color-border-secondary;
    }

    &.invalid {
        border-color: $color-red;
    }
}

textarea {
    resize: vertical;
}
