@use "variables" as *;

.logo {
    width: 4rem;
    height: 4rem;

    @include flex(center, center);

    background: $gradient-primary-v;

    -webkit-border-radius: $rounded-lg;
    -moz-border-radius: $rounded-lg;
    border-radius: $rounded-lg;

    &__img {
        width: 50%;
        height: 50%;

        color: $white;
    }

    &--lg {
        width: 8rem;
        height: 8rem;

        -webkit-border-radius: $rounded-xl;
        -moz-border-radius: $rounded-xl;
        border-radius: $rounded-xl;
    }
}
