.status {
    width: fit-content;

    padding: .5rem 1rem .5rem 2.5rem;

    -webkit-border-radius: 9999px;
    -moz-border-radius: 9999px;
    border-radius: 9999px;

    font-size: 1rem;
    font-weight: 500;

    position: relative;

    &::before {
        width: 1.2rem;
        height: 1.2rem;

        content: '';
        transform: translateY(-50%);

        position: absolute;
        top: 50%;
        left: .7rem;
    }

    &--pending {
        color: #c2410c;
        background-color: #fff7ed;

        border: .1rem solid #fed7aa;

        &::before {
            background: url("/icons/pending.svg") no-repeat center / contain;
        }
    }

    &--decline {
        color: #b91c1c;
        background-color: #fef2f2;

        border: .1rem solid #fecaca;

        &::before {
            background: url("/icons/decline.svg") no-repeat center / contain;
        }
    }

    &--error {
        color: #b91c1c;
        background-color: #fef2f2;

        border: .1rem solid #fecaca;

        &::before {
            background: url("/icons/error.svg") no-repeat center / contain;
        }
    }

    &--success {
        color: #15803d;
        background-color: #f0fdf4;

        border: .1rem solid #bbf7d0;

        &::before {
            background: url("/icons/success.svg") no-repeat center / contain;
        }
    }

    &--voided {
        color: #4b5563;
        background-color: #f3f4f6;

        border: .1rem solid #d1d5db;

        &::before {
            background: url("/icons/voided.svg") no-repeat center / contain;
        }
    }

    &--cancel {
        color: #4b5563;
        background-color: #f3f4f6;

        border: .1rem solid #d1d5db;

        &::before {
            background: url("/icons/cancel.svg") no-repeat center / contain;
        }
    }

    &--inactive {
        color: #1d4ed8;
        background-color: #eff6ff;

        border: .1rem solid #bfdbfe;

        &::before {
            background: url("/icons/inactive.svg") no-repeat center / contain;
        }
    }

    &--maintenance {
        color: #a16207;
        background-color: #fefce8;

        border: .1rem solid #fef08a;

        &::before {
            background: url("/icons/maintenance.svg") no-repeat center / contain;
        }
    }

    &--lost {
        color: #fee2e2;
        background-color: #450a0a;

        border: .1rem solid #7f1d1d;

        &::before {
            background: url("/icons/lost.svg") no-repeat center / contain;
        }
    }
}
