@use "variables" as *;

.table-wrapper {
    background-color: $white;

    -webkit-border-radius: $rounded-lg;
    -moz-border-radius: $rounded-lg;
    border-radius: $rounded-lg;

    box-shadow: $shadow-md;
    //overflow: hidden;

    &__table {
        width: 100%;

        border-collapse: collapse;
    }

    &__thead {
        .table-wrapper__tr {
            background-color: $gray-50;

            border-bottom: .1rem solid $gray-200;
        }

        .table-wrapper__th {
            color: $gray-500;

            font-size: $fs-sm;
            font-weight: 600;

            text-transform: uppercase;
            text-align: left;

            &:last-child {
                text-align: right;
            }
        }
    }

    &__tr {
        transition: background-color $transition-sm ease;

        &:hover {
            background-color: $gray-50;
        }

        &:not(:last-child) {
            border-bottom: .1rem solid $gray-200;
        }

        &--error {
            background-color: $red-25;
        }
    }

    &__th, &__td {
        padding: 1.5rem 2rem;
    }

    &__td {
        color: #4b5563;

        font-size: $fs-md;
        font-weight: 400;

        &--equipments {
            @include flex($fd: column, $g: .4rem);

            div:first-child {
                color: $gray-950;

                font-size: $fs-lg;
                font-weight: 500;
            }

            div:last-child {
                color: $gray-500;

                font-size: $fs-sm;
                font-weight: 400;
            }
        }

        &--users .user__name {
            color: $gray-900;

            font-size: $fs-lg;
        }

        &--calibrations-equipment {
            color: $gray-950;

            font-size: $fs-lg;
            font-weight: 500;
        }

        &--calibrations-certificate {
            @include flex($fd: column, $g: .5rem);
        }
    }

    &__empty {
        padding: 3rem;

        color: $gray-500;

        font-size: $fs-lg;

        text-align: center;
    }

    &__certificate {
        color: $gray-950;

        font-size: $fs-lg;
        font-weight: 500;
    }

    &__link {
        @include flex($ai: center, $g: .5rem);

        color: $teal-600;

        font-size: $fs-sm;
        font-weight: 400;
    }

    &__link-icon {
        width: 1.2rem;
        height: 1.2rem;
    }
}
