@use "variables" as *;

.table {
    &__user-td {
        @include flex($ai: center, $g: 1rem);
    }

    &__user-img-wrapper {
        width: 3.6rem;
        height: 3.6rem;

        background: linear-gradient(to bottom right, #2dd4bf, #0d9488);

        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }

    &__user-info {
        @include flex($fd: column, $g: .2rem);
    }

    &__username {
        color: #111827;

        font-size: $fs-lg;
        font-weight: 500;
    }

    &__user-me {
        color: $color-primary;

        font-size: $fs-sm;
        font-weight: 400;
    }
}
