@use "variables" as *;

body {
    display: block;

    background: $gradient-bg no-repeat;
}

main {
    margin: 0;
}

.input-wrapper {
    width: 100%;
}

.login {
    min-height: 100vh;

    @include flex(center, center);

    &__wrapper {
        width: 100%;

        @include flex($ai: center, $fd: column, $g: 3rem);
    }

    &__title-wrapper {
        @include flex($ai: center, $fd: column, $g: 1rem);
    }

    &__title {
        color: $color-white;

        font-size: 3rem;
        font-weight: 700;
    }

    &__description {
        color: $color-text-secondary;

        font-size: $fs-lg;
        font-weight: 400;
    }

    &__form {
        width: 25%;

        padding: 2rem;

        @include flex($ai: center, $fd: column, $g: 1.5rem);

        background-color: $color-white;

        -webkit-border-radius: $rounded-xl;
        -moz-border-radius: $rounded-xl;
        border-radius: $rounded-xl;
    }

    &__form-title-wrapper {
        @include flex($ai: center, $fd: column, $g: 1rem);
    }

    &__form-title {
        font-size: 2rem;
        font-weight: 600;
    }

    &__form-subtitle {
        color: $color-gray;

        font-size: $fs-md;
        font-weight: 400;
    }

    &__btn {
        width: 100%;
    }

    &__copyright {
        color: $color-gray2;

        font-size: $fs-md;
        font-weight: 400;
    }
}
