@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.input-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}
.input-wrapper--search::after {
  width: 1.6rem;
  height: 1.6rem;
  background: url("/icons/search.svg") no-repeat center/contain;
  content: "";
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 1rem;
}
.input-wrapper--search input {
  padding-left: 2.5em;
}

label {
  font-size: 1.4rem;
  font-weight: 500;
}

input, select, option {
  padding: 0.5em 0.8em;
  background: transparent;
  outline: none;
  border: 0.1rem solid #e1e7ef;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  border-radius: 0.8rem;
  font-size: 1.4rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  transition: border-color 0.3s ease;
}
input:focus, select:focus, option:focus {
  border-color: #1dafa1;
}
input.invalid, select.invalid, option.invalid {
  border-color: #ef4444;
}

.btn {
  width: fit-content;
  padding: 0.7em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.8rem;
  background-color: transparent;
  outline: none;
  border: none;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  border-radius: 0.8rem;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}
.btn:active {
  transform: scale(0.98);
}
.btn__icon {
  width: 1.6rem;
  height: 1.6rem;
}
.btn--sm {
  padding: 0.5em 0.8em;
}
.btn--primary {
  color: #fff;
  background-color: #0d9488;
}
.btn--primary:hover {
  background-color: #0f766e;
}
.btn--success {
  color: #fff;
  background-color: #16a34a;
}
.btn--success:hover {
  background-color: #15803d;
}
.btn--outline-danger {
  color: #dc2626;
  background-color: #fff;
  border: 0.1rem solid #fca5a5;
}
.btn--outline-danger:hover {
  background-color: #fef2f2;
}
.btn--outline-disabled {
  color: #4b5563;
  background-color: #fff;
  border: 0.1rem solid #d1d5db;
}
.btn--outline-disabled:hover {
  background-color: #d9dee3;
}

.aside {
  width: 25rem;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  gap: 0;
  background: linear-gradient(to bottom, #1e3a5f, #152a45);
  position: fixed;
  top: 0;
  left: 0;
}
.aside__header {
  padding: 2rem 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1);
}
.aside__title-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  gap: 0.3rem;
}
.aside__title {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
}
.aside__subtitle {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2rem;
  font-weight: 400;
}
.aside__actions {
  margin-top: auto;
  padding: 2rem 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  gap: 1rem;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.1);
}
.aside__user {
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
}
.aside__user-info {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  gap: 0.2rem;
}
.aside__username {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
}
.aside__user-role {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2rem;
  font-weight: 400;
}
.aside__user-img-wrapper {
  width: 3.6rem;
  height: 3.6rem;
  background: linear-gradient(to bottom right, #2dd4bf, #0d9488);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.logo {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  background: linear-gradient(#2dd4bf, #0d9488);
  -webkit-border-radius: 1.4rem;
  -moz-border-radius: 1.4rem;
  border-radius: 1.4rem;
}
.logo__img {
  width: 50%;
  height: 50%;
}
.logo--lg {
  width: 8rem;
  height: 8rem;
  -webkit-border-radius: 1.6rem;
  -moz-border-radius: 1.6rem;
  border-radius: 1.6rem;
}

.nav {
  padding: 2rem 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  gap: 0.5rem;
}
.nav__link {
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.nav__link--active {
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 0.3rem solid #14b8a6;
  position: relative;
}
.nav__link--active::after {
  width: 1.6rem;
  height: 1.6rem;
  background: url("/icons/arrow.svg") no-repeat center/contain;
  content: "";
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: 0.8rem;
}
.nav__link--active .nav__link-icon {
  stroke: #14b8a6;
}
.nav__link:hover:not(.nav__link--active) {
  background-color: rgba(255, 255, 255, 0.05);
}
.nav__link:hover:not(.nav__link--active) .nav__link-text {
  color: #fff;
}
.nav__link:hover:not(.nav__link--active) .nav__link-icon {
  stroke: #fff;
}
.nav__link-icon {
  width: 2rem;
  height: 2rem;
  transition: stroke 0.3s ease;
}
.nav__link-text {
  color: rgba(255, 255, 255, 0.7019607843);
  font-size: 1.4rem;
  font-weight: 500;
  transition: color 0.3s ease;
}
.nav__link-text--active {
  color: #fff;
}

.tab__title {
  padding: 2rem;
  background-color: #fff;
  border-bottom: 0.1rem solid #e5e7eb;
  font-size: 2rem;
  font-weight: 600;
}
.tab__content {
  padding: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  gap: 2rem;
}

.table {
  background-color: #fff;
  -webkit-border-radius: 1.4rem;
  -moz-border-radius: 1.4rem;
  border-radius: 1.4rem;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05);
  overflow: hidden;
}
.table table {
  width: 100%;
  border-collapse: collapse;
}
.table tr:not(:last-child) {
  border-bottom: 0.1rem solid #e5e7eb;
}
.table thead tr {
  background-color: #f9fafb;
  border-bottom: 0.1rem solid #e5e7eb;
}
.table thead th {
  color: #6b7280;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
}
.table thead th:last-child {
  text-align: right;
}
.table th, .table td {
  padding: 1.5rem 2rem;
}
.table tr {
  transition: background-color 0.2s ease;
}
.table tr:hover {
  background-color: #f9fafb;
}
.table td {
  color: #4b5563;
  font-size: 1.4rem;
  font-weight: 400;
}

.table__equipment-td {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  gap: 0.4rem;
}
.table__equipment-td div:first-child {
  font-size: 1.6rem;
  font-weight: 500;
}
.table__equipment-td div:last-child {
  color: #6b7280;
  font-size: 1.2rem;
  font-weight: 400;
}

.table__user-td {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
.table__user-img-wrapper {
  width: 3.6rem;
  height: 3.6rem;
  background: linear-gradient(to bottom right, #2dd4bf, #0d9488);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.table__user-info {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  gap: 0.2rem;
}
.table__username {
  color: #111827;
  font-size: 1.6rem;
  font-weight: 500;
}
.table__user-me {
  color: #0d9488;
  font-size: 1.2rem;
  font-weight: 400;
}

.table__calibration-td div {
  font-size: 1.6rem;
  font-weight: 500;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 1.5rem;
}
.cards--column {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  gap: 1.5rem;
}

.card {
  padding: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #fff;
  border: 0.1rem solid #e5e7eb;
  -webkit-border-radius: 1.4rem;
  -moz-border-radius: 1.4rem;
  border-radius: 1.4rem;
  transition: box-shadow 0.2s ease;
}
.card:not(.card--no-shadow):hover {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}
.card__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 1.5rem;
}
.card__body {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  gap: 1rem;
}
.card__body--row {
  flex-direction: row;
}
.card__img-wrapper {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  background-color: #f0fdfa;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
}
.card__img-wrapper--purple {
  background-color: #eef2ff;
}
.card__img {
  width: 2rem;
  height: 2rem;
}
.card__content {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  gap: 0.5rem;
}
.card__actions {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  gap: 0.5rem;
}

.card__title {
  font-size: 1.6rem;
  font-weight: 500;
}
.card__updated-at {
  color: #6b7280;
  font-size: 1.2rem;
  font-weight: 400;
}
.card__updated-at--light {
  color: #9ca3af;
}

.card__code {
  color: #6b7280;
  font-size: 1.2rem;
  font-weight: 400;
}
.card__description {
  color: #4b5563;
  font-size: 1.4rem;
  font-weight: 400;
}

.card__sender, .card__receiver, .card__created-at, .card__resolved-at {
  color: #4b5563;
  font-size: 1.4rem;
  font-weight: 400;
}
.card__sender span, .card__receiver span, .card__created-at span, .card__resolved-at span {
  color: #9ca3af;
  font-size: inherit;
  font-weight: inherit;
}
.card__transfer-comment {
  padding: 0.5em 0.7em;
  color: #4b5563;
  background-color: #f9fafb;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  font-weight: 400;
}

.tab-actions {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  gap: 0.7rem;
}
.tab-actions__form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0;
}
.tab-actions__sort-wrapper {
  padding: 0.3rem;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  gap: 0.7rem;
  background-color: #f1f5f9;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
}
.tab-actions__sort {
  padding: 0.5em 0.7em;
  background-color: transparent;
  outline: none;
  border: none;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  border-radius: 0.8rem;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}
.tab-actions__sort--active {
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.tab-actions__search-wrapper {
  height: 100%;
}
.tab-actions__search-wrapper--w100 {
  width: 100%;
}
.tab-actions__search {
  height: 100%;
}
.tab-actions__add-btn {
  flex-shrink: 0;
}

.actions {
  position: relative;
}
.actions__btn {
  margin-left: auto;
  padding: 0.8rem 1rem;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  outline: none;
  border: none;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.actions__btn:hover {
  background-color: #1dafa1;
}
.actions__btn:hover .actions__btn-icon {
  stroke: #fff;
}
.actions__btn-icon {
  width: 1.6rem;
  height: 1.6rem;
  transition: stroke 0.2s ease;
}
.actions__wrapper {
  width: fit-content;
  padding: 0.4rem;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  gap: 0;
  background-color: #fff;
  border: 0.1rem solid #e1e7ef;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  border-radius: 0.8rem;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05);
  transform: translate(5%, 90%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease, transform 0.2s ease;
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
}
.actions__wrapper--active {
  opacity: 1;
  pointer-events: auto;
  transform: translate(0, 100%) scale(1);
}
.actions__item {
  width: 100%;
  padding: 0.7rem;
  justify-content: flex-start;
  gap: 1.5rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  border-radius: 0.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.actions__item:hover {
  color: #fff;
  background-color: #1dafa1;
}
.actions__item:hover .actions__icon {
  stroke: #fff;
}
.actions__item--delete {
  color: #dc2626;
}
.actions__icon {
  transition: stroke 0.2s ease;
}

.status {
  width: fit-content;
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  border-radius: 9999px;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
}
.status::before {
  width: 1.2rem;
  height: 1.2rem;
  content: "";
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 0.7rem;
}
.status--pending {
  color: #c2410c;
  background-color: #fff7ed;
  border: 0.1rem solid #fed7aa;
}
.status--pending::before {
  background: url("/icons/pending.svg") no-repeat center/contain;
}
.status--decline {
  color: #b91c1c;
  background-color: #fef2f2;
  border: 0.1rem solid #fecaca;
}
.status--decline::before {
  background: url("/icons/decline.svg") no-repeat center/contain;
}
.status--error {
  color: #b91c1c;
  background-color: #fef2f2;
  border: 0.1rem solid #fecaca;
}
.status--error::before {
  background: url("/icons/error.svg") no-repeat center/contain;
}
.status--success {
  color: #15803d;
  background-color: #f0fdf4;
  border: 0.1rem solid #bbf7d0;
}
.status--success::before {
  background: url("/icons/success.svg") no-repeat center/contain;
}
.status--voided {
  color: #4b5563;
  background-color: #f3f4f6;
  border: 0.1rem solid #d1d5db;
}
.status--voided::before {
  background: url("/icons/voided.svg") no-repeat center/contain;
}
.status--cancel {
  color: #4b5563;
  background-color: #f3f4f6;
  border: 0.1rem solid #d1d5db;
}
.status--cancel::before {
  background: url("/icons/cancel.svg") no-repeat center/contain;
}
.status--inactive {
  color: #1d4ed8;
  background-color: #eff6ff;
  border: 0.1rem solid #bfdbfe;
}
.status--inactive::before {
  background: url("/icons/inactive.svg") no-repeat center/contain;
}
.status--maintenance {
  color: #a16207;
  background-color: #fefce8;
  border: 0.1rem solid #fef08a;
}
.status--maintenance::before {
  background: url("/icons/maintenance.svg") no-repeat center/contain;
}
.status--lost {
  color: #fee2e2;
  background-color: #450a0a;
  border: 0.1rem solid #7f1d1d;
}
.status--lost::before {
  background: url("/icons/lost.svg") no-repeat center/contain;
}

.badge {
  width: fit-content;
  padding: 0.3rem 0.8rem;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  border-radius: 9999px;
  font-size: 1.2rem;
  font-weight: 500;
}
.badge--owner {
  color: #7e22ce;
  background-color: #f3e8ff;
  border: 0.1rem solid #e9d5ff;
}
.badge--admin {
  color: #1d4ed8;
  background-color: #dbeafe;
  border: 0.1rem solid #bfdbfe;
}
.badge--employee {
  color: #374151;
  background-color: #f3f4f6;
  border: 0.1rem solid #e5e7eb;
}
.badge--pending {
  color: #c2410c;
  background-color: #ffedd5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #0f1729;
  font: 10px "Inter", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  gap: 0;
  background-color: #f9fafb;
}

main {
  margin-left: 25rem;
  flex-grow: 1;
}

.img {
  width: 100%;
  height: 100%;
}
.img--contain {
  object-fit: contain;
}

.error {
  color: #ef4444;
  font-size: 1.4rem;
  font-weight: 400;
}

a {
  display: block;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
